[submodule "Externals/Scribbler"]
	path = Externals/Scribbler
url=https://github.com/hachidorii/Scribbler.git
[submodule "Externals/EyeTunes"]
	path = Externals/EyeTunes
	url = https://github.com/i386/EyeTunes.git
